{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock  %}

<li>
    <acticle class="post">
        <a href="{% url "posts-detail-page" "the-mountains" %}">
            <img width="900" height="500" src="{% static "blog/images/"|add:post.image %}" alt="Mountain Hiking " />
            <div class="post__content">
                <h3>{{post.title}}</h3>
                <p>{{post.excerpt}}</p>
            </div>
        </a>
    </acticle>
</li>